<h1 style="font-family: typo-grotesk-rounded; font-weight: bold;">Registro de nuevo usuario</h1>

    <mat-dialog-content class="form">
        <div class="formularioReg">
            <p>Usuario a registrar</p>
            <div class="form-items">
                <input pInputText
                    class="fields"sss
                    type="text"
                    list="ownersList"
                    [(ngModel)]="selectedUserUID"
                >
                <datalist id="ownersList" class="list">
                    <option *ngFor="let user of newUsersMenu" value="{{ user.employeeUID }}"> {{ user.employeeName }} </option>
                </datalist>
                <!-- <p-dropdown
                    name="poject"
                    [options]="ownersList"
                    [(ngModel)]="selectedOwner"
                    [ngModelOptions]="{standalone: true}"
                    optionLabel="employeeName"
                    optionValue="employeeNumber"
                    placeholder="Seleccione"
                    [filter]="true"
                    filterBy="employeeName"
                    [showClear]="true"
                    [style]="{'width':'60%', 'background-color':'#c9c7c9', 'text-color':'black', 'color':'black'}"
                ></p-dropdown> -->
            </div>
            <p>Rol del usuario</p>
            <div class="form-items">
                <input pInputText
                    class="fields"
                    type="text"
                    list="projectList"
                    [(ngModel)]="selectedRole"
                >
                <datalist id="projectList">
                    <option *ngFor="let role of rolesMenu" value="{{ role.idRole }}"> {{ role.roleName }} </option>
                </datalist>
                <!-- <p-dropdown
                    name="poject"
                    [options]="projectMenu"
                    [(ngModel)]="selectedProject"
                    [ngModelOptions]="{standalone: true}"
                    optionLabel="projectName"
                    optionValue="idProject"
                    placeholder="Seleccione"
                    [filter]="true"
                    filterBy="projectName"
                    [showClear]="true"
                    [style]="{'width':'60%', 'background-color':'#c9c7c9', 'text-color':'black', 'color':'black'}"
                ></p-dropdown> -->
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="buttons">
        <ng-container >
            <button pButton pRipple
                type="button"
                label="Cancelar"
                class="p-button-danger"
                (click)="clickCancel()"
            ></button>
            <button pButton pRipple
                type="button"
                label="Registrar"
                icon="pi pi-send"
                iconPos="left"
                class="p-button-success"
                (click)="eventHandler()"
            ></button>
        </ng-container>
        <!-- <ng-template #elseTemplate>
            <button pButton pRipple type="button" label="Cerrar" class="p-button-danger" (click)="clickCancel()"></button>
        </ng-template> -->
        
    </mat-dialog-actions>

    <!-- [mat-dialog-close]="true -->