<div class="content" onload="ngOnInit()">
    <!-- Header -->
    <div class="header">
        <app-header-bar></app-header-bar>
    </div>

    <h1>Home page</h1>
    
    <p-sidebar [(visible)]="sidebar01">
        <h2>Welcome to Document Retention {{ showName() }}</h2>
        <p-panelMenu [model]="menuItems" [style]="{'width':'300px'}" ></p-panelMenu>
    </p-sidebar>
    
    <button pButton
    (click)="sidebar01 = true; this.ngOnInit()"
    icon="pi pi-bars"
    [ngClass]=" !isLogged ? 'not-visible' : ''">
    </button>

    <router-outlet></router-outlet>
</div>

<!-- [ngClass]="!isLogged ? 'not-visible' : ''" -->