
<div class="poup-body">
    <mat-dialog-content class="form">
        <h1 style="font-family: typo-grotesk-rounded; font-weight: bold;">Editando proyecto {{ projectName }}</h1>
        <div class="form-items">
            <p class="field-title">Nombre del proyecto</p>
            <input pInputText
                class="fields"
                type="text"
                [(ngModel)]="newName"
                placeholder="Nombre del proyecto"
            >
        </div>
        <div class="form-items">
            <p class="field-title">Status del proyecto</p>
            <input pInputText
                class="fields"
                type="text"
                list="statusList"
                [(ngModel)]="selectedStatus"
            >
            <datalist id="statusList">
                <option *ngFor="let status of statusMenu" value="{{ status.statusValue }}">{{ status.statusName }}</option>
            </datalist>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="buttons" >
        <ng-container *ngIf="!projectUpdated; else elseTemplate">
            <button pButton pRipple
                type="button"
                label="Cancelar"
                class="p-button-danger"
                (click)="clickCancel()"
            ></button>
            <button pButton pRipple
                type="button"
                label="Guardar"
                class="p-button-success"
                (click)="eventHandler()"
            ></button>
        </ng-container>
        <ng-template #elseTemplate>
            <button pButton pRipple
                type="button"
                label="Cerrar"
                class="p-button-danger"
                (click)="clickCancel()"
            ></button>
        </ng-template>
    </mat-dialog-actions>
</div>
