<header>
    <div class="content">
        <h3 style="font-family: typo-grotesk-rounded; font-weight: bold;">Logo Conti</h3>
        <h2 style="font-family: typo-grotesk-rounded; font-weight: bold;">Retención de documentos</h2>

        <div class="login">
            <app-login *ngIf="viewLogin"></app-login>
        </div>
        
        <button pButton
        label="Sing In"
        (click)="viewLogin = true; showSingin = true"
        [ngClass]="(isLogged || showSingin) ? 'not-visible' : ''"></button>

        <button pButton
            label="Log Out"
            (click)="logOut()"
            [ngClass]="( isLogged ) ? '' : 'not-visible'"
        ></button>
    </div>
</header>