<p>docs-viewer works!</p>
<div class="p-grid p-fluid search-panel">
    <div class="p-col-12 p-md-4">

        <form (ngSubmit)="filter()">
            <div class="grupo">
                    <button
                        class="searchButton"
                        type="submit"
                        pButton pRipple
                        icon="pi pi-search"
                        iconPos="left"
                        >
                    </button>
                    <!-- <input type="text" pInputText placeholder="ID del documento"> -->
                    <p-inputNumber
                        class="fieldsNumber"
                        inputId="withoutgrouping"
                        placeholder="ID del documento"
                        [(ngModel)]="docID"
                        [ngModelOptions]="{standalone: true}">
                    </p-inputNumber>
                    <p-dropdown
                        name="client"
                        class="fields"
                        [options]="clientMenu"
                        [(ngModel)]="selectedClient"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Cliente"
                        optionLabel="clientName"
                        optionValue="idClient"
                        [filter]="true"
                        filterBy="clientName"
                        [showClear]="true"
                    ></p-dropdown>
                    <p-dropdown 
                        name="project"
                        class="fields" 
                        [options]="projectsMenu" 
                        [(ngModel)]="selectedProject" 
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Proyecto" 
                        optionLabel="projectName"
                        optionValue="idProject"
                        [filter]="true"
                        filterBy="projectName"
                        [showClear]="true"
                        >
                    </p-dropdown>
                    <p-dropdown 
                        name="process"
                        class="fields" 
                        [options]="processesMenu" 
                        [(ngModel)]="selectedProcess" 
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Proceso" 
                        optionLabel="processName"
                        optionValue="idProcess"
                        [filter]="true"
                        filterBy="processName"
                        [showClear]="true"
                        >
                    </p-dropdown>
                    <p-dropdown
                        name="docType"
                        class="fields"
                        [options]="docTypeMenu"
                        [(ngModel)]="selectedDocType"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Tipo de documento"
                        optionLabel="dtName"
                        optionValue="iddt"
                        [filter]="true"
                        filterBy="dtName"
                        [showClear]="true"
                    ></p-dropdown>
                    <p-calendar 
                        class="fields"
                        [(ngModel)]="startDate" 
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Fecha de inicio">
                    </p-calendar>
                    <p-calendar 
                        class="fields" 
                        [(ngModel)]="dueDate" 
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Fecha de fin">
                    </p-calendar>
            </div>
        </form>
    </div>

    <!-- El filterData dentro de [] pertenece al componente show results -->
    <!-- El filterData dentro de "" pertenece al componente docs viewer -->
    <app-show-results></app-show-results>
</div>