.search-panel {
    height: 100%;
}

.searchButton{
    width: 40px;
}

.fields{
    width: 15%;
}

.fieldsNumber{
    width: 17%;
}

.grupo{
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
}