
<h1 style="font-family: typo-grotesk-rounded; font-weight: bold;">Users</h1>

<div class="createUser">
    <button pButton
        class="p-button-info"
        icon="pi pi-plus"
        iconPos="left"
        label="Crear nuevo usuario"
        (click)="userRegisterPopUp()"
    ></button>
    <div class="p-grid p-fluid search-panel">
        <div class="p-col-12 p-md-4">
            <div class="grupo">
                <button pButton
                    type="button"
                    icon="pi pi-search"
                    iconPos="left"
                    (click)="filterUsersTable()"
                ></button>
                <p-inputNumber
                    class="fields"
                    inputId="integeronly"
                    placeholder="Ingrese ID del usuario"
                    [(ngModel)]="userId"
                ></p-inputNumber>
                <input pInputText
                    class="fields"
                    placeholder="Nombre de usuario"
                    [(ngModel)]="userName"
                >
            </div>
        </div>
    </div>

    <p-button type="button" styleClass="p-button-help" label="Limpiar filtro" (click)="resetTable()" icon="pi pi-replay" iconPos="left"></p-button>
    <p-table [value]="userList" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>UID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Status</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-userList>
            <tr>
                <td>{{ userList.idUser }}</td>
                <td>{{ userList.uid }}</td>
                <td>{{ userList.userName }}</td>
                <td>{{ userList.userEmail }}</td>
                <td>{{ userList.roleName }}</td>
                <td>{{ userList.userStatus | showStatus }}</td>
                <td>
                    <div class="button-section">
                        <button pButton pRipple
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-info p-button-text"
                            (click)="editUserPopUp( userList.idUser, userList.userName )"
                        ></button>
                        <button pButton pRipple *ngIf="userList.userStatus"
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-danger p-button-text"
                            (click)="deleteUser( userList.idUser )"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        
        
    </p-table>
</div>